
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #131313;
    font-size: 16px;
}
span{
    font-family: "Cormorant Garamond", serif;
    color: #F2022D;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}
.spanTitulo{
    font-size: 3rem;
}
h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
}
h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: medium;
    font-style: italic;
    font-size: 2rem;
}
h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
}
h4{
    font-weight: 400;
    font-style: italic;
    font-size: 1.3rem;
}
h5{
    font-weight: 400;
    font-style: italic;
    color: #EDEDED;
    font-size: 0.9rem;
}
button{
    font-family:"Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 16px;
}
p{
    font-weight: 200;
    font-style: italic;
    font-size: 1.2rem;
}
.footerText{
    color: #131313;
    font-size: 1rem;
    font-weight: 900;
}
.videoFondo{
    z-index: -2;
    position: absolute; 
    height: 100vh;
    width: 100vw;
    grid-column: 1/5;
    grid-row: 1/5;
}
.mobile{
    display: none;
}
.marco{
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.portadaDeskt{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
    font-weight: 900;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    background-color: #F2022D;
}
@media only screen and (max-width: 800px){
    .portadaDeskt{
        display: none;
    }
    .portada{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
    }
    .btnPrincipal{
        background-color: #F2022D;
        border: none;
        width: 90%;
        height:  6%;
        font-style: italic;
        font-size: 1.2rem;
        border-radius: 20px;
        color: #EDEDED;
        transition: 0.3s ease-in;
    }
    .btnPrincipal:focus{
        background-color: #b80022;
    }
    .mobile{
        display: grid;
    }
    .contenidoPortada{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        grid-column: 1/5;
        grid-row: 1/5;
        gap: 4rem;
    }
    .subtitulos{
        margin-top: 4rem;
    }
    /* seccion contador  */
    .contador{
        color: #EDEDED;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
    }
    .contador .marcoContador{
        width: 100vw;
        grid-row: 1/5;
        grid-column: 1/5;
    }
    .cuentaAtras{
        grid-row: 2/4;
        grid-column: 1/5;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .contadorUnificado{
        grid-column: 1/5;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    .horas{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .minutos{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .segundos{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .llegoElDia{
        display: none;
        grid-row: 2/4;
        grid-column: 1/5;
    }
    .mapa{
        background-color:#EDEDED;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
    .mapa .marcoMapa{
        width: 100%;
        height: 100%;
        grid-row: 1/5;
        grid-column: 1/5;
    }
    .datos{
        margin: 12%;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-column:1/5;
        grid-row: 1/5;
    }
    .linea{
        margin: 16px;
        background-color: #131313;
    }
    .btn{
        background-color: #F2022D;
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 20px;
        margin: 3px;
        color: #EDEDED;
        transition: 0.3s ease-in;
    }
    .btn:focus{
        background-color: #b80022;
    }
    /* seccion 4 */
    .container-4{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
        text-align: center;
    }
    .marcoHorizantal{
        grid-column: 1/5;
        grid-row: 1/5;
        width: 100%;
        height: 100%;
    }
    .contenedorIcono{
        background-color: #F2022D;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 6rem;
        grid-column:2/4;
        grid-row: 2/4;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #EDEDED;
    }
    .vestido{
        width: 3.2rem;
        border-radius: 2rem;
        grid-column: 1/1;
        grid-row: 2/4;
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
    .traje{
        width: 3.2rem;
        border-radius: 2rem;
        grid-column: 4/4;
        grid-row: 2/4;
        margin-top: 2rem;
        margin-left: 0.3rem;
    }
    .dressCode{
        grid-column: 1/5;
        grid-row: 1/1;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 2rem;
    }
    /* seccion 5 */
    .container-5{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
        text-align: center;
    }
    .contenidoDeRegalo{
        grid-column: 5/1;
        grid-row: 5/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }
    .regalo{
        width: 5rem;
        border-radius: 3rem;
    }
    .btnCBU{
        background-color: #F2022D;
        border: none;
        height: 30px;
        width: 70%;
        grid-column: 2/4;
        grid-row: 3/5;
        border-radius: 20px;
        margin: 3px;
        color: #EDEDED;
        transition: 0.3s ease-in;
    }
    .btnCBU:focus{
        background-color: #b80022;
    }
    .contenedorCbu{
        grid-column: 5/1;
        grid-row: 5/1;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }
    .blockCBU{
        display: flex;
        flex-direction: column;
        background-color: #EDEDED;
        border-radius: 1rem;
        height: 30%;
        gap: 0.2rem;
        justify-content: center;
        text-align: center;
    }
    /* seccion 6 */
    .container-6{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
        text-align: center;
    }
    .despedida{
        grid-column: 1/5;
        grid-row: 1/4;
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .vino{
        width: 5rem;
        border-radius: 3rem;
    }
    /* seccion del footer  */
    .footer{
        height: 20vh;
        background-color: #F2022D;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
}
