
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #131313;
    font-size: 16px;
}
span{
    font-family: "Cormorant Garamond", serif;
    color: #F2022D;
    font-weight: bold;
    font-style: italic;
}
.spanTitulo{
    font-size: 3rem;
}
h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
}
h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: medium;
    font-style: italic;
    font-size: 2.5rem;
}
h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
}
h4{
    font-weight: 400;
    font-style: italic;
    font-size: 1.3rem;
}
button{
    font-family:"Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 16px;
}
p{
    font-weight: 200;
    font-style: italic;
    font-size: 1.2rem;
}
.portada{
    height: 98vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.videoFondo{
    z-index: -1;
    position: absolute;
    width: 100vw; 
    height: 100vh;
    grid-column: 1/5;
    grid-row: 1/5;
}
.mobile{
    display: none;
}
.marco{
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.contenidoPortada{
    z-index: 2;
    color: #EDEDED;
    grid-column: 1/5;
    grid-row: 1;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    width: 98%;
}
.contenidoPortada2{
    z-index: 2;
    color: #EDEDED;
    grid-column: 1/5;
    grid-row: 3/4;
    justify-content: center;
    text-align: center;
    margin: 10%;
    width: 80%;
}
@media only screen and (max-width: 800px){
    .portada{
        z-index: 1;
        height: 100vh;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 1px;
        grid-template-rows: 25% 25% 25% 25%;
    }
    .deskt{
        display: none;
    }
    .mobile{
        display: block;
    }
    .contenidoPortada{
        margin-top: 20%;
        width: 98%;
    }
    .contenidoPortada2{
        margin: 10%;
        width: 80%;
    }
    /* seccion contador  */
    .contador{
        color: #EDEDED;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
    }
    .contador .marcoContador{
        width: 100vw;
        grid-row: 1/5;
        grid-column: 1/5;
    }
    .cuentaAtras{
        grid-row: 2/4;
        grid-column: 1/5;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .contadorUnificado{
        grid-column: 1/5;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .horas{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .minutos{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .segundos{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .llegoElDia{
        display: none;
        grid-row: 2/4;
        grid-column: 1/5;
    }
    .mapa{
        background-color:#EDEDED;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 16px;
    }
    .mapa .marcoMapa{
        width: 100%;
        height: 100%;
        grid-row: 1/5;
        grid-column: 1/5;
    }
    .datos{
        margin: 12%;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-column:1/5;
        grid-row: 1/5;
    }
    .linea{
        margin: 16px;
        background-color: #131313;
    }
    .btn{
        background-color: #F2022D;
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 20px;
        margin: 3px;
        color: #EDEDED;
        transition: 0.3s ease-in;
    }
    .btn:focus{
        background-color: #b80022;
    }
    /* seccion 4 */
    .container-4{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
        text-align: center;
    }
    .marcoHorizantal{
        grid-column: 1/5;
        grid-row: 1/5;
        width: 100%;
        height: 100%;
    }
    .contenedorIcono{
        background-color: #F2022D;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 6rem;
        grid-column:2/4;
        grid-row: 2/4;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #EDEDED;
    }
    .vestido{
        width: 3.2rem;
        border-radius: 2rem;
        grid-column: 1/1;
        grid-row: 2/3;
        margin-left: 1.7rem;
    }
    .traje{
        width: 3.2rem;
        border-radius: 2rem;
        grid-column: 4/4;
        grid-row: 3/4;
        margin-left: 0.4rem;
    }
    .dressCode{
        grid-column: 1/5;
        grid-row: 1/1;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 2rem;
    }
    /* seccion 5 */
    .container-5{
        height: 40vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        color: #EDEDED;
        text-align: center;
    }
    .contenidoDeRegalo{
        grid-column: 5/1;
        grid-row: 5/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }
    .regalo{
        width: 5rem;
        border-radius: 3rem;
    }
    .btnCBU{
        background-color: #F2022D;
        border: none;
        height: 30px;
        width: 70%;
        grid-column: 2/4;
        grid-row: 3/5;
        border-radius: 20px;
        margin: 3px;
        color: #EDEDED;
        transition: 0.3s ease-in;
    }
    .btnCBU:focus{
        background-color: #b80022;
    }
    .contenedorCbu{
        grid-column: 5/1;
        grid-row: 5/1;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }
    .blockCBU{
        display: flex;
        flex-direction: column;
        background-color: #EDEDED;
        border-radius: 1rem;
        width: 70%;
        height: 20%;
        justify-content: center;
        text-align: center;
    }
}